<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 회원의 정보를 입력하는 공간 생성 -->
     <!-- 해당 페이지를 보여주는 주소는 /signup 설정 -->
    <form action="/signup2" method="post">
        <div>
            <label>ID</label>
            <input type="text" name = 'input_id'>
        </div>
        <div>
            <label>password</label>
            <input type="password" name = 'input_pass'>
        </div>
        <div>
            <label>name</label>
            <input type="text" name = 'input_name'>
        </div>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>